@import url('https://fonts.googleapis.com/css?family=Abel|Oswald:700|Yellowtail|Patrick+Hand');
.hide{
  display: none;
  
}
img{
    border-radius: 10px;
width: 250px;
height: 250px;
border: darkmagenta;
    border-radius: 100px;
    margin-top: 40px;
    
 
}
#photo-template{
  display: none;
}
select{
    width: 200px;
    height: 40px;
    background-color: yellow;
}
h1{
    background-color: navy;
    text-align: center;
    height: 50px;
    line-height: 50px;
    color: oldlace;
    font-family: Oswald;
}
  h2 {
    height: 50px;
    line-height: 50px;
    color: navy;
    font-family: Oswald;
   
  }

  p {
     float: left;
    width: 33.33%;
    padding: 5px; 

  } 

  aside button {
    float: right;
    font-family: 'Abel', sans-serif;
    text-transform: uppercase;
    padding: 15px 40px;
    background: #b8705a;
    color: #fff;
    font-size: 1.2em;
    border: none;
  }

  section hr {
    border-bottom: 1px solid #eee;
    height: 0;
  }


  footer section p{
    padding: 50px 0;
    line-height: 1.5em;
    text-align: center;
    color: #aaa;
  }